<app-header></app-header>
<main>
<app-home id="home"></app-home>

<!-- About Me section, render immediately in tests -->
@if (isTest) {
  <app-about-me id="about-me"></app-about-me>
} @else {
  @defer (on viewport) {
    <app-about-me id="about-me"></app-about-me>
  } @placeholder {
    <div style="min-height: 50vh;"></div>
  }
}

<!-- Resume section -->
@if (isTest) {
  <app-resume id="resume"></app-resume>
} @else {
  @defer (on viewport) {
    <app-resume id="resume"></app-resume>
  } @placeholder {
    <div style="min-height: 50vh;"></div>
  }
}

<!-- Contact Me section -->
@if (isTest) {
  <app-contact-me id="contact-me"></app-contact-me>
} @else {
  @defer (on viewport) {
    <app-contact-me id="contact-me"></app-contact-me>
  } @placeholder {
    <div style="min-height: 50vh;"></div>
  }
}
</main>
<app-footer></app-footer>